<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wordeasy.br.com.wordeasy" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--android:icon="@mipmap/ic_launcher"-->

    <application
        android:name=".view.aplication.CustomAplication"
        android:allowBackup="true"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme.Base" >
        <activity
            android:name=".view.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.CadastrarNovaPalavraActivity"/>
        <activity android:name=".view.activity.MainActivity"/>
        <activity android:name=".view.activity.LoginActivity"/>
        <activity android:name=".view.activity.CadastrarUsuarioActivity"/>
        <activity android:name=".view.activity.DownloadPalavra"/>
        <activity android:name=".view.activity.PalavrasDetalhesActivity" android:label="Detalhes"/>
        <activity android:name=".view.activity.ConfiguracaoActivity" android:label="Configuração"/>

        <activity
            android:name=".view.activity.EstudarActivity"
            android:label="Estudar card"
            android:icon="@drawable/ic_settings_applications_black_24dp">
                <intent-filter>
                    <action android:name="CARD_PERSONALIZADO"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.RevisaoActivity"
            android:label="Revisão"
            android:icon="@drawable/ic_exit_to_app_black_24dp">
            <intent-filter>
                <action android:name="CARD_PERSONALIZADO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name=".view.testes.BroadcastReceiverAux">
            <intent-filter>
                <action android:name="ALARME_DISPARADO"/>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
