<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wordeasy.br.com.wordeasy" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--android:icon="@mipmap/ic_launcher"-->

    <application
        android:name=".aplication.CustomAplication"
        android:allowBackup="true"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme.Base" >
        <activity
            android:name=".activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CadastrarNovaPalavraActivity"/>
        <activity android:name=".activity.EstudarActivity" />
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.RevisaoActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.CadastrarUsuarioActivity"/>
        <activity android:name=".activity.PalavrasDetalhesActivity" android:label="Detalhes"/>
        <activity android:name=".activity.ConfiguracaoActivity" android:label="Configuração"/>

        <receiver android:name=".Testes.BroadcastReceiverAux">
            <intent-filter>
                <action android:name="ALARME_DISPARADO"/>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
